<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Puppies!</title>
 </head>
 <body>
   <h1>Puppy Name: <%= params[:name] %> </h1>
   <h1>Puppy Breed: <%= params[:breed] %> </h1>
   <h1>Puppy Age: <%= params[:age] %> </h1>
 </body>
</html>
