<!DOCTYPE html>
<html>
  <head>
    <title>Puppies</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
  </head>

  <body>
    <h1>Puppies</h1>
    <p><a href="localhost:9393/create_puppy">"Click Here To List A Puppy"</a></p>
  </body>
</html>
